<html>
    <head>
        <title>Asd</title>
    </head>
    <body>
        <div id="result"></div>
        <script src="//cdn.jsdelivr.net/npm/jquery@3.1.1/dist/jquery.min.js" type="text/javascript"></script>
        <script>
            function do_ajax() {
                var req = new XMLHttpRequest();
                req.addEventListener("progress", updateProgress);
                req.addEventListener("load", transferComplete);

                function updateProgress (oEvent) {
                    result.innerHTML = req.responseText;
                    console.log(oEvent)
                }
                function transferComplete (oEvent) {
                    result.innerHTML = "Gata<br>" + req.responseText;
                    console.log(oEvent)
                }

                var result = document.getElementById('result');
                req.onreadystatechange = function() {
                    if(this.readyState == 4 && this.status == 200) {
                        result.innerHTML = this.responseText;
                    } else {
                        result.innerHTML = "Waiting...";
                    }
                }

                req.open('GET', '{{ url_for("ajax", playlist_id="4IOl8MrXPWvHVxo2NpSxwP", words="dream") }}', true);
                req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
            }
            do_ajax();
        </script>
    </body>
</html>