{% extends "base.html" %}

{% block title %}
    {{ current_user.username }}
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-4" id="card-central-nimic">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="red">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Selecteaza un playlist in care sa cauti</h4>
                                <div class="row">
                                        <div class="text-center">
                                            <select class="selectpicker" data-style="btn btn-primary btn-round" title="Single Select" data-size="7" id="playlistselector">
                                                <option disabled selected>Choose playlist</option>
                                                {% for playlist in current_user.playlists() %}
                                                <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Words that you want to search</label>
                                                    <input type="text" class="form-control" id="words" name="words">
                                                </div>
                                        </div>
                                        <br>
                                        
                                </div>
                                <div class="row">
                                    <div class="text-center">
                                            <button class="btn btn-primary btn-round" onclick="startRefresh()">
                                                Search
                                                <div class="ripple-container"></div>
                                            </button>
                                        </div>
                                </div>
                        </div>
                    </div>

                    <div class="card" style="display: none;" id="lyrics-card">
                        <div class="card-header card-header-icon" data-background-color="purple">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title" id="lyrics-title">Lyrics</h4>
                            <p id="lyrics-display" class="text-center">Here will be shown the lyrics.</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card" id="result" style="display: none;">
                        <div class="card-header card-header-icon" data-background-color="purple">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content d-flex align-items-stretch">
                            <h4 class="card-title">Rezultatele cautarii pentru "dream" in playlistul "Dance floor"</h4>

                            <div class="col-md-2" id="result-card" style="display:none;">
                                <div class="card" style="min-height: 250px;">
                                    <div class="card-content align-self-center" href>
                                        <img src="">
                                        <h6 class="card-title text-center"></h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    base = document.getElementById("result-card");
    remember = {};
    function afisare(data) {
        cardcentralnimic = document.getElementById( "card-central-nimic" );
        console.log(cardcentralnimic);
        if (typeof(cardcentralnimic) != 'undefined' && cardcentralnimic != null){
            console.log(cardcentralnimic);
            cardcentralnimic.classList.remove("col-md-offset-4");
            cardcentralnimic.id = "";
            result = document.getElementById( "result" );
            result.style = "min-height: 95vh;" ;
            lyricscard = document.getElementById( "lyrics-card" );
            lyricscard.style = "";
        }

        for(song in data.results){
            element = document.getElementById( data.results[song].uri );
            if (typeof(element) != 'undefined' && element != null)
                continue;
            var cln = base.cloneNode(true);
            cln.childNodes[1].childNodes[1].childNodes[3].innerHTML=data.results[song].name + "<br>" + data.results[song].artist;
            cln.childNodes[1].childNodes[1].childNodes[1].src=data.results[song].image_url;
            cln.id = data.results[song].uri;
            cln.setAttribute('onclick','apasare("' + data.results[song].uri + '");' );
            cln.style = "";
            cln.classList.add("song-result-card");
            document.getElementById("result").appendChild(cln);
        }
        remember = data.results;
        $('#lyrics-title').html(data.results[0].artist + ' - ' + data.results[0].name)
        $('#lyrics-display').html(data.results[0].lyrics)
    }
    function apasare(uri){
        for(song in remember){
            if(remember[song].uri == uri){
                $('#lyrics-title').html(remember[song].artist + ' - ' + remember[song].name)
                $('#lyrics-display').html(remember[song].lyrics)
                break;
            }
        }
    }
    function startRefresh(){
        $('.song-result-card').remove();
        doRefresh();
    }
    var doRefresh = function() {
        playlist = $("#playlistselector").children("option:selected")[0].value;
        if(playlist == ""){
            return;
        }
        words = $("#words")[0].value
        $.ajax({
            url: '/ajax/' + playlist + '/' + words,
            type: 'get',
            success: function(data, status) {
                if(data.finished == false) {
                    setTimeout(doRefresh, 100);
                }
                afisare(data);
            }, error: function(xhr, desc, err) {
                console.log("Details: " + desc + "\nError:" + err);
            }, complete: function(){    
                console.log("Finished");
            }
        })
    }

</script>
{% endblock %}