<html>
    <head>
        <title>Asd</title>
    </head>
    <body>
        <div id="result"></div>
        <script src="//cdn.jsdelivr.net/npm/jquery@3.1.1/dist/jquery.min.js" type="text/javascript"></script>
        <script>
            $.ajax({
                url: '{{ url_for("ajax", playlist_id="4IOl8MrXPWvHVxo2NpSxwP", words="dream") }}',
                type: 'get',
                success: function(data, status) {
                    data = JSON.parse(data);
                }, error: function(xhr, desc, err) {
                    console.log(xhr);
                    console.log("Details: " + desc + "\nError:" + err);
                }, complete: function(){    
                    console.log("Finished");
                }
            })
        </script>
    </body>
</html>